.title {
	text-align: center;
}

.row {
	margin-bottom: 20px;
}

h1 {
	font-size: 5vmin;
}
h2 {
	font-size: 4vmin;
}
h3 {
	font-size: 3.5vmin;
}
h4 {
	font-size: 3vmin;
}
h5 {
	font-size: 2.5vmin;
}
h6 {
	font-size: 2vmin;
}
blockquote, p, strong, a, li {
	font-size: 1.75vmin;
}
small {
	font-size: 1vmin;
}