@import "foundation/variables";

.title {
	text-align: center;
}

.row {
	margin-bottom: 20px;
}

h1 {
	@media #{$medium} {
		font-size: 6vmin;		
	}
	@media #{$large} {
		font-size: 5vmin;		
	}
}
h2 {
	@media #{$medium} {
		font-size: 5vmin;
	}
	@media #{$large} {
		font-size: 4vmin;		
	}
}
h3 {
	@media #{$medium} {
		font-size: 4.5vmin;
	}
	@media #{$large} {
		font-size: 3.5vmin;		
	}
}
h4 {
	@media #{$medium} {
		font-size: 4vmin;
	}
	@media #{$large} {
		font-size: 3vmin;		
	}
}
h5 {
	@media #{$medium} {
		font-size: 3.5vmin;
	}
	@media #{$large} {
		font-size: 2.5vmin;		
	}
}
h6 {
	@media #{$medium} {
		font-size: 3vmin;
	}
	@media #{$large} {
		font-size: 2vmin;		
	}
}
blockquote, p, strong, a, li {
	@media #{$medium} {
		font-size: 2.75vmin;
	}
	@media #{$large} {
		font-size: 1.75vmin;		
	}
}
small {
	@media #{$medium} {
		font-size: 2vmin;
	}
	@media #{$large} {
		font-size: 1vmin;		
	}
}