@import "foundation/variables";


body {
	padding: 20px;
}

.title {
	text-align: center;
}

.row {
	margin-bottom: 20px;
}

body {
	font-size: 18px;
	line-height: 26px;
}

h1,h2,h3,h4,h5,h6,p, blockquote, a, strong, li, small {
 font-family: inherit;
 font-size: inherit;
}

h1 {
	font-size: 2em;
	line-height: 1.5em;
}
h2 {
	font-size: 1.8em;
	line-height: 1.5em;
}
h3 {
	font-size: 1.6em;
	line-height: 1.5em;	
}
h4 {
	font-size: 1.4em;
	line-height: 1.5em;
}
h5 {
	font-size: 1.2em;
	line-height: 1.5em;
}
h6 {
	font-size: 1em;
	line-height: 1.5em;
}
blockquote, p, strong, a, li {
	font-size: 0.8em;
	line-height: 1.5em;
}
small {
	font-size: 0.6em;
	line-height: 1.5em;
}

ul {
	list-style-position: inside;
}