@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/benmcgeachy\/Documents\/ResponsiveTypography\/app\/styles\/responsiveText\.scss}line{font-family:\000031}}
.title {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/benmcgeachy\/Documents\/ResponsiveTypography\/app\/styles\/responsiveText\.scss}line{font-family:\000035}}
.row {
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/benmcgeachy\/Documents\/ResponsiveTypography\/app\/styles\/responsiveText\.scss}line{font-family:\000039}}
h1 {
  font-size: 5vmin;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/benmcgeachy\/Documents\/ResponsiveTypography\/app\/styles\/responsiveText\.scss}line{font-family:\0000312}}
h2 {
  font-size: 4vmin;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/benmcgeachy\/Documents\/ResponsiveTypography\/app\/styles\/responsiveText\.scss}line{font-family:\0000315}}
h3 {
  font-size: 3.5vmin;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/benmcgeachy\/Documents\/ResponsiveTypography\/app\/styles\/responsiveText\.scss}line{font-family:\0000318}}
h4 {
  font-size: 3vmin;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/benmcgeachy\/Documents\/ResponsiveTypography\/app\/styles\/responsiveText\.scss}line{font-family:\0000321}}
h5 {
  font-size: 2.5vmin;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/benmcgeachy\/Documents\/ResponsiveTypography\/app\/styles\/responsiveText\.scss}line{font-family:\0000324}}
h6 {
  font-size: 2vmin;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/benmcgeachy\/Documents\/ResponsiveTypography\/app\/styles\/responsiveText\.scss}line{font-family:\0000327}}
blockquote, p, strong, a, li {
  font-size: 1.75vmin;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/benmcgeachy\/Documents\/ResponsiveTypography\/app\/styles\/responsiveText\.scss}line{font-family:\0000330}}
small {
  font-size: 1vmin;
}
